.navbar-fixed-top {
  border: 0;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.head {
    margin-bottom: 3%;
}

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 30%;
    width: 50%;
    margin: auto;
}

.category-grid {
    padding: 1%;
    border-top: 1px solid gainsboro;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.category-grid-row {
    margin: 0;
}

.col-md-2 {
    height: 90px;
    padding: 1%;
    text-align: center;
}

.dropdown-toggle {
    margin: 1% auto;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 1px solid gainsboro;
}

.project-title {
    text-align: center;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.project-id {
    border-top: 1px solid gainsboro;
    margin-bottom: 2%;
    padding-left: 1%;
}

.main-content {
    margin-top: 5%;
}

.right-bar {
    width: 30%;
    float: right;
}

.submit-bar-submitted {
    border-top: 1px solid gainsboro;
    padding-left: 1%;
}

.submit-bar-approved {
    padding-left: 1%;
}

.submit-bar-top {
    border-top: 1px solid gainsboro;
    clear: both;
    padding-top: 10%;
}

.project-list {
    width: 65%;
    float: left;
    margin-right: 5%;
}

ul {
    list-style: none;
    padding: 0;
}

.navigation-bar-left {
    float: left;
    margin-left: 1%;
}

.page-content-info {
    clear: both;
}

.footer {
    clear: both;
    border-top: 1px solid gainsboro;
    font-size: small;
}

.accept {
    color: green;
}

.pending {
    color: #007bff;
}

.reject {
    color: red;
}
